<div id="d_social_share">
    <div class="d-social-errors">
        {% for eror in error %}
            {{ eror }}
        {% endfor %}
    </div>
    {% if not error %}

        <style>
            .d-social-button {
            {{ design.border_radius_set[design.border_radius]}};
            }

            {% for button in buttons %}
            /*btn colors */
            .{{ button.id }} {
                color: {{ button.color }};
                background-color: {{ button.background_color }};
            }

            .{{ button.id }}:hover {
                color: {{ button.color }};
                background-color: {{ button.background_color_active }};
            }

            .{{ button.id }}:active {
                color: {{ button.color }};
                background-color: {{ button.background_color_hover }};
            }

            /*btn sizes*/
            .{{ button.id }} * {
            {% for css, value in design.sizes[design.size]  %}{{ css }}:{{ value }};
            {% endfor %}
            }

            /*btn fix position icon*/
            .d-social-button.{{ button.id }} span {
            {% if button.icon_position == "before" %} padding-left: 0;
            {% elseif button.icon_position == "after" %} padding-right: 0;
            {% endif %}
            }

            {% if button.text == '' %}
            .d-social-button.{{ button.id }} span {
                padding: 0;
            }

            {% endif %}
            {% if design.border_radius == 'round' %}
            .d-social-button.{{ button.id }} {
                width: {{ design.width }};
                height: {{ design.width }};
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .d-social-button span {
                display: none;
            }

            {% endif %}

            {% endfor %}

        </style>
        {#<div class="d-social-buttons-container ">#}
        {#{% for button in buttons %}#}
        {#<div class="d-social-button-wrap">#}
        {#<a class="d-social-button {{ button.id }} {{ design.shadow }}"#}
        {#title="{{ button.title }}"#}
        {#data-count="..." data-social="{{ button.id }}">#}
        {#onclick="socialShareManager('{{ button.id }}');">#}
        {#{% if button.icon_position == "before" %}#}
        {#<i class="fa {{ button.icon }}"></i>#}
        {#<span>{{ button.text }}</span>#}
        {#{% elseif button.icon_position == "after" %}#}
        {#<span>{{ button.text }}</span>#}
        {#<i class="fa {{ button.icon }}"></i>#}
        {#{% endif %}#}
        {#</a>#}
        {#</div>#}
        {#{% endfor %}#}
        {#</div>#}
    {% endif %}

    <div id="share"></div>
    <script>
        $(document).ready(function () {
            $("#share").jsSocials({
                shares: [
                    {% for button in buttons %}
                    {
                        share:{{ button.share }},
                        label:{{ button.label }},
                        logo:{{ button.logo }},
                        css:{{ button.css }},
                        {% if button.type =='email' %}
                        to:{{ button.to }},
                        {% endif %}
                        shareIn:{{ button.shareIn }},
                        {% if button.type =='twitter' %}
                        to:{{ button.to }},
                        {% endif %}
                    },
                    {% endfor %}
                ],
//                    {
//                        //can be on each shareIn: "popup",
//                        share: "twitter",           // name of share
//                        label: "Tweet",             // share button text (optional)
//                        // TODO if user login twitter   via: "artem_tabalin",       // custom twitter sharing param 'via' (optional)
//                        //if prod has tags   hashtags: "jquery,plugin"   // custom twitter sharing param 'hashtags' (optional)
//                    }
                text: {{ share.text_to_share }},
                showLabel: {{ share.showLabel }},
                showCount: {{ share.showCount }},
                shareIn: {{ share.popup }},
            });
        })

    </script>
</div>

<script>


</script>