<div class="d-social-buttons-container">
    <div class="styles">
        <style>
            {% if (design.style=='custom' or design.style=='flat')  %}
            {% for button in buttons %}
            /*btn colors */
            .jssocials-share-{{ button.id }} .jssocials-share-link {
                color: {{ button.style.color }};
                background-color: {{ button.style.background_color }};
                border-color: {{ button.style.background_color }};
            }

            .jssocials-share-{{ button.id }} .jssocials-share-link:hover {
                color: {{ button.style.color }};
                background-color: {{ button.style.background_color_hover }};
                border-color: {{ button.style.background_color_hover }};
            }

            .jssocials-share-{{ button.id }} .jssocials-share-link:active {
                color: {{ button.style.color }};
                background-color: {{ button.style.background_color_active }};
                border-color: {{ button.style.background_color_active }};
            }

            {% endfor %}
            {% endif %}
            {% if design.rounded  %}
            .jssocials-share-link {
                border-radius: 50%;
            }
            {% endif %}
            .{{ design.size }} .jssocials-share-link {
                font-size: {{  design.sizes[design.size]["font-size"] }};
                padding: {{  design.sizes[design.size]["padding"] }};
            }
        </style>
    </div>
    {% if  error %}
        <div class="d-social-errors">
            {% for eror in error %}
                {{ eror }}
            {% endfor %}
        </div>
    {% endif %}
    <div id="{{ codename }}" class="{{ design.size }} {{ design.style }} {{ design.placement }} {{ design.fixed }}"></div>
    <script>
        // todo move to my.js
        function getNativeButton(native) {
            switch (native) {
                case 'facebook':
                    return function () {
                        var $result = $("<div>");
                        var script = document.createElement("script");
                        script.text = "(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = \"//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3\"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));";
                        $result.append(script);
                        $("<div>").addClass("fb-share-button")
                            .attr("data-layout", "button_count")
                            .appendTo($result);
                        return $result;
                    }
                case 'googleplus':
                    return function () {
                        var $result = $("<div>");

                        var script = document.createElement("script");
                        script.src = "https://apis.google.com/js/platform.js";
                        $result.append(script);

                        $("<div>").addClass("g-plus")
                            .attr({
                                "data-action": "share",
                                "data-annotation": "bubble"
                            })
                            .appendTo($result);

                        return $result;
                    }
                case 'linkedin':
                    return function () {
                        var $result = $("<div>");

                        var script = document.createElement("script");
                        script.src = "//platform.linkedin.com/in.js";
                        $result.append(script);

                        $("<script>").attr({type: "IN/Share", "data-counter": "right"})
                            .appendTo($result);

                        return $result;
                    }
                case 'twitter':
                    return function () {
                        var $result = $("<div>");

                        var script = document.createElement("script");
                        script.text = "window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src=\"https://platform.twitter.com/widgets.js\";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,\"script\",\"twitter-wjs\"));";
                        $result.append(script);

                        $("<a>").addClass("twitter-share-button")
                            .text("Tweet")
                            .attr("href", "https://twitter.com/share")
                            .appendTo($result);

                        return $result;
                    }
                case 'pinterest':
                    return function () {
                        var $result = $("<div>");

                        var script = document.createElement("script");
                        script.src = "//assets.pinterest.com/js/pinit.js";
                        $result.append(script);

                        $("<a>").append($("<img>").attr("//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png"))
                            .attr({
                                href: "//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fjs-socials.com%2Fdemos%2F&media=%26quot%3Bhttp%3A%2F%2Fgdurl.com%2Fa653%26quot%3B&description=Next%20stop%3A%20Pinterest",
                                "data-pin-do": "buttonPin",
                                "data-pin-config": "beside",
                                "data-pin-color": "red"
                            })
                            .appendTo($result);

                        return $result;
                    }
            }
        }
        $(document).ready(function () {
            $("#{{ codename }}").jsSocials({
            {% if custom_url %}
                url: '{{ custom_url }}',
            {% endif %}
                text: '{{ config.text_to_share[1] }}',//to do make multilangua
                showLabel: '{{ config.showLabel }}',
                showCount: '{{ config.showCount }}',
                shareIn: '{{ config.shareIn }}',
                smallScreenWidth: {{ config.breakpoints.smallScreenWidth }},
                largeScreenWidth: {{ config.breakpoints.largeScreenWidth }},
                shares: [
                    {% for social , social_value in buttons %}
                    {
                        share: '{{ social_value.id }}',
                         {% for key, value in social_value.share %}
                            {{ key }}:"{{ value }}",
                            {% endfor %}
                        {% if social_value.style_native %}
                            renderer:getNativeButton('{{ social_value.id }}'),
                        {% endif %}},
                    {% endfor %}
        ]
        });
            // animate
            if ('{{ design.animation_type }}'=='hover'){
                $('.jssocials-share').hover(function (e) {
                    $(this).addClass('animated '+'{{ design.animation }}')
                    var that =$(this);
                    setTimeout(function () {
                        that.removeClass('animated '+'{{ design.animation}}')
                    },1000)

                })
            }
            if ('{{ design.animation_type}}'=='click'){
                $('.jssocials-share-link').click(function (e) {
                    e.preventDefault();
                    console.log('click')
                    $(this).addClass('animated '+'{{ design.animation}}')
                    var that = $(this);
                    setTimeout(function () {
                        that.removeClass('animated '+'{{ design.animation}}')
                    },1000)

                })
            }
        });//document ready
    </script>
</div>

